.feed-container {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	min-width: fit-content;
	flex-wrap: wrap;
	margin: auto;
}

.feed-wrapper {
	background-color: #c65d7b;
	display: flex;
	flex-direction: column;
}

.feed-title {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	font-size: 2rem;
	color: #f6e7d8;
}
