.photodetail-container {
	background: #c65d7b;
	display: flex;
	justify-content: center;
}

.photodetail.allwrapper {
	background: #f6e7d8;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.photodetail-wrapper {
	background: #f6e7d8;
	box-shadow: 5px 1px black;
	min-width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.photodetail-top img {
	height: 600px;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 720px) {
	.photodetail-top img {
		height: 250px;
	}
}

.photodetail-bottom i {
	padding: 15px;
}

.photodetail-title {
	padding-top: 30px;
	background: #f6e7d8;
	display: flex;
	box-shadow: 5px 1px black;
	justify-content: center;
}
