.home-wrapper {
	color: #f6e7d8;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 100px;
	min-height: 100%;
	line-height: 1.5rem;
}

.home-wrapper h1 {
	padding-bottom: 40px;
	align-self: center;
}

.home-wrapper h2 {
	padding-top: 40px;
	font-size: 1.2rem;
	align-self: center;
}

.home-container {
	background: #874356;
	display: flex;
	justify-content: center;
}

.list {
	padding: 20px;
	line-height: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
