.searchbar {
	display: flex;
	justify-content: center;
	background: #8f8f8f;
	height: 20px;
}

.suggestion {
	cursor: pointer;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.suggestion:hover {
	background-color: #9c5b5b;
}
