.header-container {
	background-color: #f68989;
	min-height: 10vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-size: calc(25px + 2vmin);
	color: white;
	font-weight: 600;
}

.header-container img {
	height: 60px;
}

.header-links {
	display: flex;
	flex-direction: row;
	font-size: 30px;
	padding: 0 30px;
}

.header-link {
	text-decoration: none;
	color: #874356;
	margin: 20px;
}

@media screen and (max-width: 800px) {
	.header-container {
		flex-direction: column;
	}

	.header-links {
		font-size: 30px;
	}

	.header-container img {
		height: 40px;
	}
}
