.footer-container {
	height: 100px;
	background-color: #f68989;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	flex-direction: column;
}

.footer-element {
	padding: 2px;
}

.footer-element a {
	text-decoration: none;
	color: white;
}

.footer-element-color a {
	text-decoration: none;
	color: #874356;
}
